<!-- partials head -->
<%- include('partials/head.ejs'); %>

<!-- casr css -->
<link rel="stylesheet" href="stylesheets/cars.css">

<title>Cars</title>

<!-- isi content -->
<section class="content-section ps-5 pe-4">
    <div class="row">
        <div class="col-lg-0" id="show-col-lg-0">
            <div class="adding-space" style="width: 300px;">
            </div>
        </div>
        <div class="col-lg-12" id="show-col-lg-12">
            <div class="container-fluid">
                <div class="list-button">
                    <span class="list-car">List Car</span>
                    <div class="button-right">
                        <a href="/addCar" class="btn btn-primary">
                            <img src="images/icon/fi_plus.svg" alt="icon-plus"> Add New Car
                        </a>
                    </div>
                </div>
                <div class="btn-group" aria-label="Basic example">
                    <button type="button" class="btn btn-outline-primary">All</button>
                    <button type="button" class="btn btn-outline-primary">Small</button>
                    <button type="button" class="btn btn-outline-primary">Medium</button>
                    <button type="button" class="btn btn-outline-primary">Large</button>
                </div>
                <div class="row g-0">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <img src="images/image 1.svg" alt="img-car">
                                </h5>
                                <p>Nama/Tipe Mobil</p>
                                <h6>Rp 430.000 / hari</h6>
                                <p class="card-text">
                                    <img src="images/icon/fi_key.svg" alt="icon-key">Start rent - Finish rent
                                </p>
                                <p class="card-text">
                                    <img src="images/icon/fi_clock.svg " alt="icon-clock">Updated at 4 Apr 2022,
                                    09.00
                                </p>
                                <div class="btn-group" aria-label="Basic example">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-danger" data-toggle="modal"
                                        data-target="#exampleModal"><img src="images/icon/fi_trash-2.svg"
                                            alt="icon-plus">
                                        Delete
                                    </button>
                                    <a href="/editCar" class="btn btn-success">
                                        <img src="images/icon/fi_edit.svg" alt="icon-edit">Edit
                                    </a>
                                    <!-- include modal -->
                                    <%- include('partials/modal.ejs'); %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <img src="images/image 1.svg" alt="img-car">
                                </h5>
                                <p>Nama/Tipe Mobil</p>
                                <h6>Rp 430.000 / hari</h6>
                                <p class="card-text">
                                    <img src="images/icon/fi_key.svg" alt="icon-key">Start rent - Finish rent
                                </p>
                                <p class="card-text">
                                    <img src="images/icon/fi_clock.svg " alt="icon-clock">Updated at 4 Apr 2022,
                                    09.00
                                </p>
                                <div class="btn-group" aria-label="Basic example">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-danger" data-toggle="modal"
                                        data-target="#exampleModal"><img src="images/icon/fi_trash-2.svg"
                                            alt="icon-plus">
                                        Delete
                                    </button>
                                    <a href="/editCar" class="btn btn-success">
                                        <img src="images/icon/fi_edit.svg" alt="icon-edit">Edit
                                    </a>
                                    <!-- include modal -->
                                    <%- include('partials/modal.ejs'); %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <img src="images/image 1.svg" alt="img-car">
                                </h5>
                                <p>Nama/Tipe Mobil</p>
                                <h6>Rp 430.000 / hari</h6>
                                <p class="card-text">
                                    <img src="images/icon/fi_key.svg" alt="icon-key">Start rent - Finish rent
                                </p>
                                <p class="card-text">
                                    <img src="images/icon/fi_clock.svg " alt="icon-clock">Updated at 4 Apr 2022,
                                    09.00
                                </p>
                                <div class="btn-group" aria-label="Basic example">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-danger" data-toggle="modal"
                                        data-target="#exampleModal"><img src="images/icon/fi_trash-2.svg"
                                            alt="icon-plus">
                                        Delete
                                    </button>
                                    <a href="/editCar" class="btn btn-success">
                                        <img src="images/icon/fi_edit.svg" alt="icon-edit">Edit
                                    </a>
                                    <!-- include modal -->
                                    <%- include('partials/modal.ejs'); %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <img src="images/image 1.svg" alt="img-car">
                                </h5>
                                <p>Nama/Tipe Mobil</p>
                                <h6>Rp 430.000 / hari</h6>
                                <p class="card-text">
                                    <img src="images/icon/fi_key.svg" alt="icon-key">Start rent - Finish rent
                                </p>
                                <p class="card-text">
                                    <img src="images/icon/fi_clock.svg " alt="icon-clock">Updated at 4 Apr 2022,
                                    09.00
                                </p>
                                <div class="btn-group" aria-label="Basic example">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-danger" data-toggle="modal"
                                        data-target="#exampleModal"><img src="images/icon/fi_trash-2.svg"
                                            alt="icon-plus">
                                        Delete
                                    </button>
                                    <a href="/editCar" class="btn btn-success">
                                        <img src="images/icon/fi_edit.svg" alt="icon-edit">Edit
                                    </a>
                                    <!-- include modal -->
                                    <%- include('partials/modal.ejs'); %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <img src="images/image 1.svg" alt="img-car">
                                </h5>
                                <p>Nama/Tipe Mobil</p>
                                <h6>Rp 430.000 / hari</h6>
                                <p class="card-text">
                                    <img src="images/icon/fi_key.svg" alt="icon-key">Start rent - Finish rent
                                </p>
                                <p class="card-text">
                                    <img src="images/icon/fi_clock.svg " alt="icon-clock">Updated at 4 Apr 2022,
                                    09.00
                                </p>
                                <div class="btn-group" aria-label="Basic example">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-danger" data-toggle="modal"
                                        data-target="#exampleModal"><img src="images/icon/fi_trash-2.svg"
                                            alt="icon-plus">
                                        Delete
                                    </button>
                                    <a href="/editCar" class="btn btn-success">
                                        <img src="images/icon/fi_edit.svg" alt="icon-edit">Edit
                                    </a>
                                    <!-- include modal -->
                                    <%- include('partials/modal.ejs'); %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <img src="images/image 1.svg" alt="img-car">
                                </h5>
                                <p>Nama/Tipe Mobil</p>
                                <h6>Rp 430.000 / hari</h6>
                                <p class="card-text">
                                    <img src="images/icon/fi_key.svg" alt="icon-key">Start rent - Finish rent
                                </p>
                                <p class="card-text">
                                    <img src="images/icon/fi_clock.svg " alt="icon-clock">Updated at 4 Apr 2022,
                                    09.00
                                </p>
                                <div class="btn-group" aria-label="Basic example">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-danger" data-toggle="modal"
                                        data-target="#exampleModal"><img src="images/icon/fi_trash-2.svg"
                                            alt="icon-plus">
                                        Delete
                                    </button>
                                    <a href="/editCar" class="btn btn-success">
                                        <img src="images/icon/fi_edit.svg" alt="icon-edit">Edit
                                    </a>
                                    <!-- include modal -->
                                    <%- include('partials/modal.ejs'); %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <img src="images/image 1.svg" alt="img-car">
                                </h5>
                                <p>Nama/Tipe Mobil</p>
                                <h6>Rp 430.000 / hari</h6>
                                <p class="card-text">
                                    <img src="images/icon/fi_key.svg" alt="icon-key">Start rent - Finish rent
                                </p>
                                <p class="card-text">
                                    <img src="images/icon/fi_clock.svg " alt="icon-clock">Updated at 4 Apr 2022,
                                    09.00
                                </p>
                                <div class="btn-group" aria-label="Basic example">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-danger" data-toggle="modal"
                                        data-target="#exampleModal"><img src="images/icon/fi_trash-2.svg"
                                            alt="icon-plus">
                                        Delete
                                    </button>
                                    <a href="/editCar" class="btn btn-success">
                                        <img src="images/icon/fi_edit.svg" alt="icon-edit">Edit
                                    </a>
                                    <!-- include modal -->
                                    <%- include('partials/modal.ejs'); %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>