<!-- include head -->
<%- include('partials/head') %>

<!-- isi content -->
<section class="vh-100">
  <div class="container-fluid">
    <div class="row login">
      <div class="col-8 left-side">
        <img src="images/image 2.svg" class="w-100 vh-100" style="object-fit: cover;" alt="">
      </div>
      <div class="content col-4">
        <div class="form-head">
          <img src="images/icon/Rectangle 62.svg" alt="">
          <h1>Welcome back</h1>
        </div>

        <div class="form-content">
          <form action="">
            <div class="mb-3">
              <label for="inputEmail" class="form-label">Email</label>
              <input type="email" class="form-control" id="inputEmail" placeholder="Contoh: johndee@gmail.com">
            </div>
            <div class="mb-3">
              <label for="inputPassword" class="form-label">Password</label>
              <input type="password" class="form-control" id="inputPassword" placeholder="6+ karakter">
            </div>

            <a class="btn btn-primary" href="/dashboard" role="button">Sign In</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
</body>

</html>